@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --mainColor : #2B3332;
    --bodyColor: #111312;
    --secondaryColor : #009AFA;
    --mainTextcolor : #CCFBE5;
    --secondaryTextColor : #191817;

    --maxscreenwidth : 1380px;
    --SliderQuantity:7;
}

/* ANIMATIONS  */

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-18deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-18deg) rotateY(360deg);
    }
}



body{
    background: var(--bodyColor);
    scroll-behavior: smooth;
    /* overflow: hidden; */
}


/* Basic header styling */



/* Basic Main styling  */

main{
    height: calc(100% + 150px);
    overflow: hidden;
    width: 100%;
    max-width: var(--maxscreenwidth);
    margin: 0 auto;
    background: var(--mainColor);
    border-radius: 10px;
}


.slider-container{
    width: 100%;
    height: 500px;
    text-align: center;
    overflow: hidden;
    position: relative;

}
.slider-container .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 13%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 30s linear infinite;
    
    z-index: 2;
}

.slider-container .slider .item{
    
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--SliderQuantity)) * 1deg))
    translateZ(300px);
}
.slider-container .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.slider-container .titlepage{
    color: var(--secondaryColor);
    font-size: clamp(20px , 8rem , 11rem);
    position: relative;

}

.slider-container .titlepage::after{
    position: absolute;
    inset: 0 0 0 0;
    
    content: attr(data-content);
    -webkit-text-stroke: 2px white;
    
    color: transparent;

    z-index: 20;
}

.router-link-active{
    position: relative;
}

.router-link-active::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(210, 143, 8);
    position: absolute;
    top: 0;
    left:100% ;
}
